In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Hàm chuyển dữ liệu trong cột về thành dạng list
def to_list(x):
    if pd.isna(x):
        return []
    if isinstance(x, list):
        return x
    if isinstance(x, str):
        x = x.strip()
        if x.startswith('[') and x.endswith(']'):
            x = x[1:-1]
            return [
                item.strip().strip("'\"")
                for item in x.split(',')
                if item.strip()
            ]
        return [x]
    return [x]

In [3]:
df = pd.read_csv('/content/drive/MyDrive/DS111/Do an/data_process.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 48 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 335 non-null    int64
 1   DisNo.                                     335 non-null    object
 2   Historic                                   335 non-null    object
 3   Classification Key                         335 non-null    object
 4   Disaster Group                             335 non-null    object
 5   Disaster Subgroup                          335 non-null    object
 6   Disaster Type                              335 non-null    object
 7   Disaster Subtype                           335 non-null    object
 8   External IDs                               39 non-null     object
 9   Event Name                                 144 non-null    object
 10  ISO                                        335 non-null    object
 11  Country                                    335 non-null    object
 12  Subregion                                  335 non-null    object
 13  Region                                     335 non-null    object
 14  Location                                   317 non-null    object
 15  Origin                                     86 non-null     object
 16  Associated Types                           86 non-null     object
 17  OFDA Response                              335 non-null    object
 18  Appeal                                     335 non-null    object
 19  Declaration                                335 non-null    object
 20  AID Contribution ('000 US$)                20 non-null     float64
 21  Magnitude                                  90 non-null     float64
 22  Magnitude Scale                            268 non-null    object
 23  Latitude                                   29 non-null     float64
 24  Longitude                                  29 non-null     float64
 25  River Basin                                32 non-null     object
 26  Start Year                                 335 non-null    int64
 27  Start Month                                333 non-null    float64
 28  Start Day                                  303 non-null    float64
 29  End Year                                   335 non-null    int64
 30  End Month                                  330 non-null    float64
 31  End Day                                    303 non-null    float64
 32  Total Deaths                               308 non-null    float64
 33  No. Injured                                146 non-null    float64
 34  No. Affected                               197 non-null    float64
 35  No. Homeless                               72 non-null     float64
 36  Total Affected                             267 non-null    float64
 37  Reconstruction Costs ('000 US$)            0 non-null      float64
 38  Reconstruction Costs, Adjusted ('000 US$)  0 non-null      float64
 39  Insured Damage ('000 US$)                  3 non-null      float64
 40  Insured Damage, Adjusted ('000 US$)        3 non-null      float64
 41  Total Damage ('000 US$)                    143 non-null    float64
 42  Total Damage, Adjusted ('000 US$)          143 non-null    float64
 43  CPI                                        331 non-null    float64
 44  Admin Units                                162 non-null    object
 45  Entry Date                                 335 non-null    object
 46  Last Update                                335 non-null    object
 47  economic_region                            335 non-null    object
dtypes: float64(20), int64(3), object(25)
memory usage: 125.8+ KB

In [5]:
df = df[[
       'Disaster Group', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'Location', 'Origin', 'Associated Types',
       'OFDA Response', 'Appeal', "AID Contribution ('000 US$)",
       'Magnitude', 'Magnitude Scale', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No. Injured', 'No. Affected',
       'No. Homeless', 'Total Affected',
       "Total Damage ('000 US$)", "Total Damage, Adjusted ('000 US$)", 'CPI',
       'Admin Units', 'Entry Date', 'Last Update', 'economic_region'
       ]]

In [6]:
len(df.columns)

31

# Điền khuyết

In [7]:
df['Associated Types']=df['Associated Types'].fillna('No')
df['Origin'] = df['Origin'].fillna('Unknow')

# Tiền xử lý - điền các missing value của cột Total Affected, Total Deaths, Total Damage, Adjusted ('000 US$) = 0
df['Total Affected'] = df['Total Affected'].fillna(0)
df['Total Deaths'] = df['Total Deaths'].fillna(0)
df["Total Damage, Adjusted ('000 US$)"] = df["Total Damage, Adjusted ('000 US$)"].fillna(0)
df["Total Damage ('000 US$)"] = df["Total Damage ('000 US$)"].fillna(0)

# Xử lý giá trị ngày tháng

In [8]:
df['Start Date'] = pd.to_datetime(df[['Start Year', 'Start Month', 'Start Day']].rename(columns={'Start Year': 'year', 'Start Month': 'month', 'Start Day': 'day'}), errors='coerce')
df['End Date'] = pd.to_datetime(df[['End Year', 'End Month', 'End Day']].rename(columns={'End Year': 'year', 'End Month': 'month', 'End Day': 'day'}), errors='coerce')

In [9]:
df['economic_region'] = df['economic_region'].apply(to_list)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 33 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Disaster Group                     335 non-null    object
 1   Disaster Subgroup                  335 non-null    object
 2   Disaster Type                      335 non-null    object
 3   Disaster Subtype                   335 non-null    object
 4   Location                           317 non-null    object
 5   Origin                             335 non-null    object
 6   Associated Types                   335 non-null    object
 7   OFDA Response                      335 non-null    object
 8   Appeal                             335 non-null    object
 9   AID Contribution ('000 US$)        20 non-null     float64
 10  Magnitude                          90 non-null     float64
 11  Magnitude Scale                    268 non-null    object
 12  River Basin                        32 non-null     object
 13  Start Year                         335 non-null    int64
 14  Start Month                        333 non-null    float64
 15  Start Day                          303 non-null    float64
 16  End Year                           335 non-null    int64
 17  End Month                          330 non-null    float64
 18  End Day                            303 non-null    float64
 19  Total Deaths                       335 non-null    float64
 20  No. Injured                        146 non-null    float64
 21  No. Affected                       197 non-null    float64
 22  No. Homeless                       72 non-null     float64
 23  Total Affected                     335 non-null    float64
 24  Total Damage ('000 US$)            335 non-null    float64
 25  Total Damage, Adjusted ('000 US$)  335 non-null    float64
 26  CPI                                331 non-null    float64
 27  Admin Units                        162 non-null    object
 28  Entry Date                         335 non-null    object
 29  Last Update                        335 non-null    object
 30  economic_region                    335 non-null    object
 31  Start Date                         303 non-null    datetime64[ns]
 32  End Date                           303 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(14), int64(2), object(15)
memory usage: 86.5+ KB

In [12]:
df.to_csv('final_data.csv', index=False)